<h1>About Us</h1>
<p>Established in 1990 by the Fitzgerald Family, Surfworld is still to this day a local family business. The husband and wife team (Richie & Briohny Fitzgerald) own and run the surf shop and surf school and are lucky enough to have some pretty awesome staff working alongside them.  Not to mention their beautiful 2 year old daughter Ella who can often be found running busily around "re-arranging" everything. We use the term "re-arranging" very loosely.

The feel of a locally owned, grass roots and all core surf retailer still holds pride and place in their store. Over the last 23 years the Bundoran surfing scene has grown and Surfworld has grown with it, to become one of the most recognised names in the core Irish surfing industry. Surfworld is renowned for its excellent customer service, super fun and friendly staff, wide range of products, competitive prices, experienced local surf advice, surfboard sale quiver, fashion, wetsuits, accessories, second hand boards, surf rentals and of course surf lessons. All the staff work really hard and have loads of fun doing it. Definitely pop in next time you're in town... they're actually just a bunch of messers!</p>

