/* body {
    background-image: url("/assets/Site/Background.jpg");
    font-family: sans-serif;
    margin: 0;
    padding: 0;
} */

body {
background: url("/assets/Site/bluewater.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.surfer{
	
	max-width: 700px;
    min-width: 700px;
}

h1, h6 {
    margin: 0;
    font-weight: normal;
    font-family:helvetica;
    
    text-align: center
}
div#container {
    position: relative;
    min-height: 850px;
    border:2px none;
    /*background-image: url("/assets/Site/header.jpg"); */
    max-width: 1000px;
    min-width: 750px;
    margin: auto;
}
div#first-column {
	margin: 3px 3px 3px 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    /* background-image: url("/assets/Site/bg3.gif"); */
    width: 279px;
    margin: 3px;
}
div#first-column {
    left: 710px;
}
div#content {
	left: 0;
	padding: 3px;
    margin: 3px 3px 3px 5px;
    /*background: rgb(240, 240, 240);*/
    background-image: url("/assets/Site/bg3.gif");
    border: 1px solid gray;
    min-height: 850px;
    width: 700px;
}
div#header,
div#footer,
div#menu {
    background: rgb(20, 20, 20);
    padding: 3px;
    border:2px none;
    max-width: 994px;
    min-width: 744px;
    margin: auto;
}

div#header {
	border:1px none;
 	border-top-left-radius:00px;
 	border-top-right-radius:00px;
		
}

div#menu {
    border-bottom: none;
    width: 1024px;
    height: 28px;
}
div#header {
    border-bottom: none;
    
    
    background-image: url("/assets/Site/header.jpg");
    width: 1400px;
    height: 100px;
    text-align: center
    
}
div#footer {
    border-top: none;
}

div.box {
	margin: 0px 0px 30px 5px;
	padding: 5px;
	height: 260px;
	border:2px orange solid;
	background-image: url("/assets/Site/insertImageHere.jpg");
 	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */

}

div.searchbox {
	margin: 0px 0px 30px 5px;
	padding: 5px;
	height: 55px;
	border:2px orange solid;
	background-image: url("/assets/Site/bg3.gif");
 	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */

}

div.loginbox {
	margin: 0px 0px 30px 5px;
	padding: 5px;
	height: 65px;
	border:2px orange solid;
 	border-radius:9px;
 	background-image: url("/assets/Site/bg3.gif");
 	-moz-border-radius:9px; /* Old Firefox */

}

/* ------------------------- */
 #navbar ul          
 {
     margin: 0;         
     padding: 5px;         
     list-style-type: none;         
     text-align: left;  
     font-size: 17px;      
     background-color: #333;         
 }  
 
 #navbar ul li           
 {
     display: inline;
       
 }  
 
 #navbar ul li a          
 {
     text-decoration: none;         
     padding: .2em 1em;         
     color: #fff;         
     background-color: #333;         
     }  
     
#navbar ul li a:hover          
{
    color: NAVY;
    background-color: CYAN;         
   	border:0px orange solid;
 	border-radius:2px;
 	-moz-border-radius:2px; /* Old Firefox */
       
}

.box img {
	width: 100%;
	height: 91%;
}

#PageHeader {
	font-family:Arial, Helvetica, sans-serif;
	width: 98%;
	height: 30px;
	text-align:center;
	font-size: 30px;
	color:black;
	padding-top: 10px;
	margin:0px;
	margin-bottom: 10px;
	margin-top: 5px;
	margin-left: 5px;
	background-image:url('/assets/Site/headerImag.jpg');
	background-size:40px;
	border:2px silver solid;
 	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */

}

/* --------- Product Detailed Display -------------------*/
#imageDisplay
{
	width: 350px;
	height: 370px;
	border: 2px black solid;
	background-color:black;	
	float:left;
	margin-left: 10px;
}

#imageList {
	float: left;
	text-align: left;
	background-color:black;
	height: 100%;
	width: 300px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-left:5px;
}

#imageList li {
	display:inline;
	
	text-align: left;
}

#imageList img {
	margin-right: 5px;
	width: 50px;
	height: 50px;	
	border: 4px silver solid;	
}

#largeDisplay {
	height: 290px;
	width: 100%;
	margin-bottom: 10px;
}

#clubInfo {
	float: left;
	width: 308px;
	margin-left: 10px;
	padding-left: 5px;
	border: 2px black solid;
}


#largeDisplay img {
	height: 100%;
	width: 100%;
	margin: 0;
}

#imageThumbs {
	margin:0;
	float:left;
}

.showHeader {
	width: 97%;
	height: 20px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: Azure;
	background-color:slategrey;
	border:2px silver solid;
 	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */

}
/*-------------------------------------------*/


/* --------- Product Catalog List -------------------*/
.catalogList {
	position: relative;
	float: left;
	margin: 10px;
	border: 2px black solid;
	width: 208px;
	/*height:230px;*/
	overflow:visible;
	
	
 	border-radius:7px;
 	-moz-border-radius:5px; /* Old Firefox */

}

.catalogImage {
	
}

.catalogImage img {
	margin-top:2px;
	margin-left:2px;
	margin-right:2px;
	width: 98%;
	height: 130px;
}

.MoreDetails {
	float:left;
	margin-left: 10px;
	width: 70px;
	height: 17px;
	background-color:darkolivegreen;
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	border:2px silver solid;
 	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */
}

.AddCart {
	float:left;
	margin-left: 10px;
	width: 80px;
	height: 17px;
	background-color: orangered;
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	border:2px silver solid;
 	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */
}

.adminLinks {
	position: absolute;
	top: 3px;
	right: 5px;
	
}

.adminLinks img {
	border-style: none;
}


.adminLinks a:hover {
	text-decoration: none;
	background-color: transparent;
}


/*
.adminLinks a {
	background-color: seagreen;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 2px;
	font-size: 10px;
	border: 2px red solid;
	border-radius:5px;
 	-moz-border-radius:5px; 
}

.adminLinks a:hover {
	text-decoration: none;
	color: orange;
}

.adminLinks a:link {
	text-decoration: none;
	color: azure;
}

.adminLinks a:active {
	text-decoration: none;
	color: azure;
}

.adminLinks a:visited {
	text-decoration: none;
	color: azure;
}

*/

.catalogPrice {
	text-align:center;
	margin:7px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:darkcyan;
}

.message {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 8px;
	color:darkcyan;
}

.catalogName {
	margin-left: 5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 32px;
}

#ProductDisplay {
	float:left;
}

#catalogHeader {
	margin: 5px;
	border: 0px black solid;
	height: 25px;
}

/* ------------------- Drop down BOxex for Category and Brand ---------------*/
#sortTerms {
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#sortBoxes {
	float: right
}

/* ---------------------- Whats in the bag ------------------------------ */
#WhatsInTheBag {
	position: relative;
	width: 95%;
	margin-left: 15px;
	overflow: auto;
	border: 2px red solid;
	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */
}

#editClubsLink {
	position:absolute;
	margin: 5px;
	right: 0;
	top: 0;
}

#editClubsLink img {
	border: 0;
}

#editClubsLink a:hover {
	background-color:transparent;
}

#BagList {

}

#BagList h2 {
	color: forestgreen;
	margin-top: 10px;
}

#BagImage {
	float:left;	
}

#AddClub {
	width: 91%;
	margin-left: 15px;
	margin-top: 10px;
	padding: 15px;
	overflow: auto;
	border: 2px silver solid;
	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */
}

.listAdmin {
	visibility: hidden;
	display: none;
}

#listAdmin {
	visibility: hidden;
	
}

/* ------------- Profile Info Display ---------------- */
#profileInfo {
	position: relative;
	margin:15px;
	height: 100%;
	overflow:auto;
	border: 2px red solid;
	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */
}

#map {
	float:left;
	margin:10px;
}

#profIamge {
	float:left;
	margin: 15px;
	padding:opx;
	border: 0px red solid;
	border-radius:9px;
 	-moz-border-radius:9px; /* Old Firefox */

}

#profDetails {
	float:left;
	margin-top: 0px;
}



#BagList ul {
	list-style-type: none;
}

/* -------------------- Cart ------------------- */
.cart {
	width: 95%;
	border-collapse:collapse;
	margin-left: 15px;

}

.cart table, tr, td {
	border:1px solid black;
}

.cart img {
	border: 0px;
}
	
.legend {
	background-color: thistle;
}

.cartButton {
	background-color: seagreen;
	padding: 5px;
	border: 2px red solid;
	border-radius:15px;
 	-moz-border-radius:15px; /* Old Firefox */
}

#cartLinks a:hover {
	text-decoration: none;
	color: azure;
}

#cartLinks a:link {
	text-decoration: none;
	color: azure;
}

#cartLinks a:active {
	text-decoration: none;
	color: azure;
}

#cartLinks a:visited {
	text-decoration: none;
	color: azure;
}


#cartLinks {
	margin-left: 15px;
}

.removeButton {
	background-color: seagreen;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10px;
	border: 2px red solid;
	border-radius:15px;
 	-moz-border-radius:15px; /* Old Firefox */
}


.removeLink a:hover {
	text-decoration: none;
	color: azure;
}

.removeLink a:link {
	text-decoration: none;
	color: azure;
}

.removeLink a:active {
	text-decoration: none;
	color: azure;
}

.removeLink a:visited {
	text-decoration: none;
	color: azure;
}

/* ----------------------- Standard Styling for all CRUD pages -------------- */
#golfForm {
	border-collapse:collapse;
	margin: 0 auto; 
    text-align: left;
    background-color:#FFFFCC;
}

.actions {
	margin: 15px;
	text-align: center;
}

#golfForm td {
	padding:3px;
}

#golfForm td.heading {
	color:darkgreen;
}

#golfForm tr.notShowing {
	visibility: hidden;
	display: none;
}

/* -------------------- Login Page --------------------------- */

#loginPage {

}

#login {
	margin: 0 auto;
	padding: 15px;
	background-color:gainsboro;
	border: 1px darkred solid;
	width: 250px;
}

#login label {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: navy;
}

#login span {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: green;
}

.logininputs {
	margin-bottom: 15px;
}

/* ------------- Login Links ------------------ */
.linkButtons {
	float:left;
	margin-right: 15px;
	padding: 3px;
	border: 2px #FF6600 solid;
	width:90px;
	background-color:cadetblue;
	margin-bottom: 5px;
	border-radius: 7px;
}

.linkButtons a {
	font-size: 14px;
}

.linkButtons a:link {
	text-decoration:none;
	color:white;
}

.linkButtons a:hover {
	text-decoration:none;
	color:yellow;
	background-color:cadetblue;
}

.linkButtons a:visited {
	text-decoration:none;
	color:white;
}

/* Detailed Display Edit\Back Links */
#DisplayLinks a:hover {
	background-color:transparent;
}


/* Image Picker */
			.list_carousel {
				background-color: #ccc;
				margin: 0 0 0px 0px;
				width: 490px;
			}
			
			.list_carousel img {
				width: 70px;
				height: 70px;
			}

			
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: center;
				background-color: #eee;
				border: 3px solid #999;
				width: 70px;
				height: 70px;
				padding: 0;
				margin: 6px;
				display: block;
				float: left;
			}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: left;
				margin-left: 10px;
			}
			.next {
				float: right;
				margin-right: 10px;
			}
			.pager {
				float: left;
				width: 400px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}

/* Chosen Image Display in Admin Panel */
#imgDisplay {
	width: 100%;
	text-align:center;
	margin: 5px;
}

#imgDisplay img {
	border: 4px #666666 solid;
	width: 300px;
}