<!DOCTYPE html>
<html>
<head>
  <title>Leitrim Surf Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
       <div id='header'>
        
        </div>
        <div id='menu'>
        <div id="navbar">
            <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/items">Products</a></li>
            <li><a href="/cart#index">View Cart</a></li>
             <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/admin">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul>
            </div>
        </div>
        <div id='container'>
            <div id='content'>
                <% if flash[:notice] -%>
            	<p style= "color:green" class="notice"><%= flash[:notice] %></p>
	            <% end -%>
	            <%= yield %>
	</div>
	
	       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	
            <div id='first-column'>
            	<div class="loginbox">
            		<h2 class="BoxHeaders">Login Here....</h2>
	</div>	
            	<div class="searchbox">
<h2 class="BoxHeaders">Search Catalog</h2>
	</div>
            </div>
        </div>
        <div id='footer'>
            <h6 class="footertext">&copy; Leitrim Surf Shop &trade; 2015</h6>
        </div>
</body>
</html>

